################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Pokazometer/VSProject/Pokazometr/.vs/Pokazometr/v17/Browse.VC.opendb
/Pokazometer/VSProject/Pokazometr/.vs/Pokazometr/FileContentIndex/c5ec58b6-cd5f-4212-94bc-788abca261ad.vsidx
/Pokazometer/VSProject/Pokazometr/.vs/Pokazometr/FileContentIndex/925acb59-1083-4b69-a9ef-c9ee1d54913e.vsidx
/Pokazometer/VSProject/Pokazometr/.vs/Pokazometr/FileContentIndex/4306aced-ad91-451d-a32f-356045ec4a17.vsidx
/Python/Technology/DocumentMark/.vs/DocumentMark/FileContentIndex
/Python/Technology/DocumentMark/.vs/DocumentMark/v17/.suo
/Python/Technology/DocumentMark/bin/Debug/DocumentMark.exe
/Python/Technology/DocumentMark/bin/Debug/DocumentMark.pdb
/Python/Technology/DocumentMark/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Python/Technology/DocumentMark/obj/Debug/DocumentMark.csproj.AssemblyReference.cache
/Python/Technology/DocumentMark/obj/Debug/DocumentMark.csproj.GenerateResource.cache
*.json
/Python/Technology/DocumentMark/obj/Debug/.AssemblyReference.cache
/Python/Technology/DocumentMark/obj/Debug/DocumentMark.csproj.CoreCompileInputs.cache
/Python/Technology/DocumentMark/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Python/Technology/DocumentMark/obj/Debug/DocumentMark.csproj.FileListAbsolute.txt
/Python/Technology/DocumentMark/obj/Debug/DocumentMark.exe
/Python/Technology/DocumentMark/obj/Debug/DocumentMark.pdb
/Python/Technology/DocumentMark2/.vs/DocumentMark2/FileContentIndex/708a94c1-85f9-40d2-9cf5-7f46c33178a3.vsidx
/Python/Technology/DocumentMark2/.vs/DocumentMark2/FileContentIndex/f47afad7-956b-4da2-a818-adcbe0354ca5.vsidx
/Python/Technology/DocumentMark2/.vs/DocumentMark2/v17/.suo
/Python/Technology/DocumentMark2/bin/Debug
/Python/Technology/DocumentMark2/obj/Debug
/Python/Technology/DocumentMark2/packages/BouncyCastle.Cryptography.2.4.0
/Python/Technology/DocumentMark2/packages/iTextSharp.5.5.13.4
/Python/Technology/DocumentMark2/.vs/DocumentMark2/FileContentIndex/8ec0b04a-3816-41b7-899e-b882e755601c.vsidx
*.vsidx
/Python/Technology/DocumentMark/bin/Debug
/Python/Technology/DocumentMark/obj/Debug
/Python/Technology/DocumentMark/packages/itext7.commons.9.2.0
/Python/Technology/DocumentMark/packages/itext7.pdfhtml.6.2.0
/Python/Technology/DocumentMark/packages/itext.pdfhtml.6.2.0
/Python/Technology/DocumentMark/packages/Microsoft.Bcl.Cryptography.9.0.8
/Python/Technology/DocumentMark/packages/PDFsharp.6.2.1
/Python/Technology/DocumentMark/packages/System.Formats.Asn1.9.0.8
/Python/Technology/DocumentMark/packages/System.Security.Cryptography.Pkcs.9.0.8
